{% extends "layout.html" %}
{% from 'reviewRequest/reviewRequestMacro.html' import request_list %}
{% block body %}
	<div class="row"> 
		<div class="span9">	 
	 	{% for item in requests %}
 			{{ request_list(item.reqId, item.uid, item.title, item.category, 
 				item.date_requested, item.anonymous, item.username ) }}
	 	{% else %}
		 	<h3>Nothing to display</h3>
		{% endfor %}
			
			<div class="pagination pagination-centered">
				<ul>
					<li><a href="#" id="previous"> previous </a></li>
					{% for page in numOfPages %}
					<li><a href="{{url_for('startpage',n=page) }}"> {{page}} </a></li>
					{% endfor %}
					<li><a href="#" id="next"> next </a></li>
				</ul>
			</div>

		</div>
	</div>
{% endblock %}
