<!doctype html>
<html ng-app>
	<head>
		<script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
		<script src="http://localhost:5000/static/js/ang.js"></script>
		<link rel="stylesheet" href="http://localhost:5000/static/css/bootstrap.css" type="text/css">
	</head>

	<body>

		<div ng-controller="reviewCntl" class="container">
			<div class="row">
				<div class="span5">
					<h3> Review Others</h3>
					<h4> {{title}}</h4>
					 <input type="text" ng-model="title"> 
					<input type="text" ng-model="content">
				</div>

				<div class="span5">
					<h2> {{ title }} </h2>
					<p> {{ content}} </p>
				</div>
			</div>
		</div>
	</body>
</html>





			
			
