{% macro render_field(field) %}
{% if field.type == 'HiddenField' %}
	{{field(**kwargs) }}	
{% else  %}
	{% if field.errors %}
		<div class="control-group-span8">	 
			<div class="controls-span8">
				{{ field(placeholder=field.label.text,**kwargs) | safe }}
				{% for error in field.errors %}
					<span class="help-inline">{{ error }}<//span>
				{% endfor %}
			</div>
		</div>
	{% else %}
	<div class="control-group-span8">
		<div class="controls-span8">
			{{ field(placeholder=field.label.text,**kwargs) | safe }}
		</div>
	</div>
	 {% endif %}
{% endif %}
{% endmacro %}