<!DOCTYPE html>
<title>Review me please!</title>
<html lang="en">
<meta charset="utf-8">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- Bootstrap for buttons and forms only -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap_new.css') }}"> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
</head>
<body>  
          
          <header class="main">
          <nav id="cssmenu">
              <ul class="nav main-menu">
                <li><a href="{{url_for('startpage') }}">Startpage</a></li>
  					{% if session.username %}
                    <li><a href="{{url_for('request_review') }}">Request Review</a></li>
					
					<li><a href="{{ url_for('display_responses') }}">Responses</a></li>
					<li class="has-sub"> <a href=""> {{ session.username }} </a>
						<ul>
							<li><a href="{{ url_for('display_user_requests') }}">Requested Reviews</a></li>
							
							<li><a href="{{url_for('edit_profile')  }}">Edit profile</a></li>
							<li><a href="{{ url_for('display_user_reviews') }}">Your reviews</a></li>
							<li><a href="{{ url_for('logout') }}">Log out</a></li>  
						</ul>
					</li>
					{% else %}
					<li><a href="#myModal" data-toggle="modal">Log In</a></li>
					<li><a href="/add_user">Register</a></li>
					{% endif %}
              </ul>
          </nav>
        </header>
		<div class="container">
                 
		{% if session.username %}
			{% if get_flashed_messages() %}
				  <ul class="flash">
					{% for message in get_flashed_messages() %}
					<li>{{ message }}</li>  
					{% endfor %}
				  </ul>
				{% endif %}
				
		{% else %} 
			<!-- Modal -->
			{% from "form_helper.html" import render_field %}
			<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">press</button>
				<h3 id="myModalLabel">Log In</h3>
			  </div>
			  <div class="modal-body">
				  <form action="/login" method="post">
				      {{ render_field(loginForm.username) }}
					  {{ render_field(loginForm.password) }}
				  </form>
				  <span> Or ... </span>
				  <a href="/login/google/">Log in with Google</a>
			  </div>
			  <div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<input type="submit" class="btn btn-primary" value="login">
			  </div>
			</div>
		{% endif %}

        {% block body %}{% endblock %}
		</div> 
	 <script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script> 	 
<script src="{{ url_for('static', filename='js/bootstrap-popover.js') }}"></script> 
	 <script src="{{ url_for('static', filename='js/main_page.js') }}"></script> 	 
</body>