<!DOCTYPE html>
<title>Review me please!</title>
<html lang="en">
<meta charset="utf-8">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap_new.css') }}"> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
</head>
<body>     
    <header class="main">
        <nav id="cssmenu">
            <ul class="nav main-menu">
                <li><a href="{{url_for('startpage',n=0) }}"><i class="icon-home icon-white"></i> Home </a></li>
  					{% if session.username %}
                    <li><a href="{{url_for('request_review') }}"><i class="icon-pencil icon-white"> </i> Request Review</a></li>
					
					<li><a href="{{ url_for('display_responses') }}"><i class="icon-folder-open icon-white"></i> Responses</a></li>
					<li class="has-sub"> <a href=""><i class="icon-user icon-white"></i>  {{ session.username }} </a>
						<ul>
							<li><a href="{{ url_for('display_user_requests') }}">Requested Reviews</a></li>
							
							<li><a href="{{url_for('edit_profile')  }}">Edit profile</a></li>
							<li><a href="{{ url_for('display_user_reviews') }}">Your reviews</a></li>
							<li><a href="{{ url_for('logout') }}"><i class="icon-off"></i> Log out</a></li>  
						</ul>
					</li>
					{% else %}
					<li><a href="#myModal" data-toggle="modal">Log In</a></li>
					<li><a href="/add_user">Register</a></li>
					{% endif %}
            </ul>
        </nav>
    </header>
	
	<div class="container">
             		
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category,message in  messages %}
					{% if category == 'error' %}
						<div class="alert alert-error">
							<div>{{ message }}  </div>
						</div>
					{% else %} 
						<div class="alert alert-success">
							<div>{{ message }}  </div>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endwith %}
		
		{% if not session.username %}
			<!-- Modal -->
			{% from "form_helper.html" import render_field %}
			<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">[X]</button>
				<h3 id="myModalLabel">Log In</h3>
			  </div>
			  <div class="modal-body">
				  <form action="/login" method="post">
				      {{ render_field(loginForm.username) }}
					  {{ render_field(loginForm.password) }}
				  
				  <span> Or ... </span>
				  <a href="/login/google/">Log in with Google</a>
			  </div>
			  <div class="modal-footer">
				<!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> !-->
				<input type="submit" class="btn btn-primary" value="login">
				</form>
			  </div>
			</div>
		{% endif %}

        {% block body %}{% endblock %}
		</div> 
	 <script src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script> 	 
<script src="{{ url_for('static', filename='js/bootstrap-popover.js') }}"></script> 
<script src="{{ url_for('static', filename='js/main_page.js') }}"></script> 
<script src="{{ url_for('static', filename='js/handle_update.js') }}"></script> 
</body>
