{% extends "layout.html" %}
{% from "form_helper.html" import render_field %}
	{% block body %}
		{% if registrationForm %}
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category,message in  messages %}
						{% if category == 'error' %}
							<div class="alert alert-error">
								<div>{{ message }}  </div>
							</div>
						{% else %} 
							<div class="alert alert-success">
								<div>{{ message }}  </div>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}
    		<div class="row">
    			<form action="/add_user" method="post" class="form-horizontal">
    				<fieldset>
	    				<legend>Register</legend>

	    				{% for field in registrationForm %}
	        					{{ render_field(field) }}

	        			{% endfor %}
	        			<div class="control-group">
	        				<div class="controls">
	    						<input type="submit" class="btn btn-primary" value="Register">
	    					</div>
	    				</div>
	    			</fieldset>
    			</form>
    		</div>  
    	{% endif %}
{% endblock %}