{% extends "layout.html" %}
{% from "form_helper.html" import render_field %}
{% block body %}
<div class="row">
<div class="span12">
  <h3>Request a Review</h3>
    <form id="request" class="form-horizontal" action="/post_request_review" method="post" enctype='multipart/form-data'>
	{% if session.username %}
        {{ render_field(form.title,class="input-xxlarge",placeholder="review Title") }}
		{{ render_field(form.content,class="input-xxlarge", placeholder="content of your review") }}
		{{ render_field(form.category) }}
        {{ render_field(form.deadline) }}   
		<div class='control-group-span8'>    <div class="controls-span8"><input type="file" name="file"></div></div>
		<div class="control-group-span8">    <div class="controls-span8"><input type="submit" class='btn btn-primary' value="Request Review"></div>
	{% else %}
		{{ render_field(form.title,class="input-xxlarge",placeholder="review Title") }}
		{{ render_field(form.content, class="input-xxlarge", placeholder="you must be logged in to publish requests") }}
		{{ render_field(form.category) }}
        {{ render_field(form.deadline) }}
		<div class='control-group-span8'><button class='btn btn-primary'> Please log in to review others</button></div>
    {% endif %}   		

    </form>
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
  </div>
</div>
{% endblock %}