{% extends "layout.html" %}
{% block body %}
<div class="row">
	<article>
	 	<h2>{{ item.title }} by {{ item.username }}</h2>
	 	<div class="content"> {{item.content }} </div>
	 	<div class="category">{{ item.category }}</div>
	 	<div class="date_requested">Requested on {{ item.date_requested }}</div>

	 	<div class="deadline">Deadline <b> {{item.deadline }}</b></div>
		{% if session.username %}
			{% if item.articleURL %}
			<button class="btn btn-primary" href="{{ item.articleURL }}">Link to the file</button>
			{% endif %}
		{% endif %}
	 </article>

<!-- This will show  up when the user clicks review this button  -->

{% from "form_helper.html" import render_field %}
<form method=post action="">
 {% if session.username %}
    {{ render_field(form.title,class="input-xxlarge") }}
    {{ render_field(form.content,class="input-xxlarge",rows=10) }}
	{{ render_field(form.rating) }}
    {{ render_field(form.request_id, value=item.num) }}
    {{ render_field(form.reviewed, value=item.username) }}
	 <div class="control-group-span8">    <div class="controls-span8"><input type=submit value=Submit class='btn btn-primary'></div></div>
{% else %}
    {{ render_field(form.title,class="input-xxlarge") }}
    {{ render_field(form.content,class="input-xxlarge") }}
	{{ render_field(form.rating) }}
	<div class="control-group-span8">    <div class="controls-span8"><span class='btn btn-primary'> Please log in to review</span></div></div>
{% endif %}

 
</form>
</div>

{% endblock %}