{% extends 'layout.html' %}

{% block body %}
			<div class="hero-unit mainele">
              
                <div class="row">
                    <div class="span5">
                        <h3>Need a review of your draft?</h3>
                        <p>Recenseo.es is simple app which allows you to share your articles, drafts, books etc with others. 
The idea is simple, you can publish your text and get a fast review from other users. </p>

         
                        <center><button class="btn btn-large btn-primary" type="button">
                        Sign In</button></center>
                    </div>
                    <div class="span5">
                        
                        <img src='/static/img/photo500.jpg'>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="span4">
                    <h3>You publish your draft </h3>
                    <p>Simply upload its title and attach a pdf,doc or other file. You can chose to remain anonymous if you'd like to.v </p>

                </div>
                <div class="span4"> <h3> Someone reads it</h3>
                 <p>They can read your draft and write a brief feedback for you.</p>
                </div>
                 <div class="span4"> <h3>You get the feedback</h3>
                <p>  And can improve your work before sending it to a journal or publisher.</p>
             </div>
             
        </div>
    </div>
{% endblock %}
