{% extends "layout.html" %}
{% block body %}
<div class="row" id="singleReviewRequest">

	 	<h2>{{ item.title }} by {{ item.username }}</h2>
	 	<div class="content">
	 		<p> {{item.content }} </p>
	 	</div>
	 	<div class="category">
	 		<p>{{ item.category }}</p>
	 	</div>
	 	<p>Requested on {{ item.date_requested }}</p>
	 	<p class="deadline">Deadline <b> {{item.deadline }}</b></p>
	 	<p class="author">author: {{ item.username }}</p>
		{% if session.username %}
			{% if item.articleURL %}
			<p>
			    <button class="btn"><a href="{{ item.articleURL }}">Link to the file</a></button>
			</p>
			{% endif %}

			{% if session.username == item.username %}
			<p>
				<button class="btn btn-primary" id="updater">Update Request</button>
			</p>
			{% endif %}
		{% endif %}

{% from "form_helper.html" import render_field %}
<div class="req-single">
<form method="post" action="">
<legend> Your Review of "{{item.title}}" by <b>{{ item.username }} </b></legend>
 {% if session.username %}
    {{ render_field(form.title,class="input-xxlarge") }}
    {{ render_field(form.content,class="input-xxlarge",rows=10) }}
	{{ render_field(form.rating) }}
    {{ render_field(form.request_id, value=item.num) }}
    {{ render_field(form.reviewed, value=item.username) }}
    <div class="control-group">    
	<div class="controls">
		    <input type=submit value=Submit class='btn btn-primary'>
   	</div>
    </div>
</form>
</div>
</div>
	<!-- <script src={{ url_for('static',filename='js/jquery-1.8.3.min.js') }}></script>
	 
	 <script>
		 
	  TogetherJSConfig_suppressJoinConfirmation = true;
	  TogetherJSConfig_findRoom = "developers";
	  TogetherJSConfig_getUserName  = function () { return '{{ session.username }}' ;}; 

  	</script>
	
	<script src="{{ url_for('static', filename='js/togetherjs.js') }}"></script>
	
	<script src="{{ url_for('static', filename='js/the-developers.js') }}"></script> !-->

	 {% else %}
    {{ render_field(form.title,class="input-xxlarge") }}
    {{ render_field(form.content,class="input-xxlarge") }}
	{{ render_field(form.rating) }}
	<div class="control-group-span8">    <div class="controls-span8"><span class='btn btn-primary'> Please log in to review</span></div></div></form>
{% endif %}

<script src="{{ url_for('static', filename='js/handle_update.js') }}"></script> 
</div>
</div>

{% endblock %}
