{% extends "layout.html" %}
{% from "form_helper.html" import render_field %}
	{% block body %}

			{% if registrationForm %}
    		<div class="row">
    			<form action="/add_user" method="post" class="form-horizontal">
    				<fieldset>
	    				<legend>Register</legend>

	    				{% for field in registrationForm %}
	        					{{ render_field(field) }}

	        			{% endfor %}
	        			<div class="control-group">
	        				<div class="controls">
	    						<input type="submit" class="btn btn-primary" value="Register">
	    					</div>
	    				</div>
	    			</fieldset>
    			</form>
    		</div>  
    	{% endif %}
{% endblock %}